body {
  background-color: #FFF;
  color: #e24046; /* Vermelho */
}

.titulo {
  padding: 20px;
  color: #e24046; /* Vermelho */
}

.formulario {
  background-color: rgb(44, 60, 101);
  color: #e24046; /* Vermelho */
}

.link-limpo:hover {
  text-decoration: none;
}

.link-limpo {
  text-decoration: none;
}

.link-termos {
  color: goldenrod; /* Dourado */
  text-decoration-color: goldenrod; /* Dourado */
  text-decoration: none;
}

.link-termos:hover {
  color: goldenrod; /* Dourado */
  text-decoration: underline;
}